extends layout.pug
include mixins/post-list

block title
    if name
        title #{name} reddit
    else
        title Welcome to Reddit Clone!!!

block content
    if desc
        h1 Welcome to #{name} subreddit!
        p #{desc}
    else
        h1 Welcome to Reddit!!!
        a(href='/sort/hot') Hot posts
        br
        a(href='/sort/top') Top posts
    +postList(posts)