doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title
            title Reddit Clone
    body
        header
            a(href="/subreddits") Subreddits
            if loggedInUser
                p Welcome #{loggedInUser.username} Your cookie is #{loggedInUser.token}
                p
                    form(action="/auth/logout" method="post")
                        button(type="submit") Logout
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 blah